@model Training1.Models.Product

@{
    ViewData["Title"] = "Details";
}


    <div class="media border p-3">
        <img src="~/images/@(Model.Category.ToString().ToLower()).jpg" alt="@(Model.Name)" class="mr-3 mt-3 rounded-circle" style="width:60px;">
        <div class="media-body">
            <div class="d-inline-flex align-items-center">
                <h4>@Model.Name <small>(Category: @Model.Category)</small></h4>

                @if ((await AuthorizationService.AuthorizeAsync(
                User, new Stock(),
                UserOperations.Update)).Succeeded)
                {
                    <a asp-action="Edit" asp-route-id="@Model.Id" title="Edit @(Model.Name)" class="btn ml-2"><i class="fas fa-pen"></i></a>
                }
            </div>

            <p>@Model.Description</p>
            <div class=" border rounded-sm mb-3 p-3">
                <div class="media-body">
                    @if ((await AuthorizationService.AuthorizeAsync(
                     User, new Stock(),
                     UserOperations.Read)).Succeeded)
                    {
                        <div class="tab-pane fade show" id="stock">
                            @await Component.InvokeAsync("StockList", new { productId = Model.Id })
                        </div>
                    }
                </div>
            </div>
            <div>

                <a asp-action="Index" class="btn btn-secondary"><text> << </text>Back to List</a>
            </div>
        </div>
    </div>
