@model List<DayOfSesshin>

@{
    Layout = null;
}


    <div class="container">
        <div class="row">
            @foreach (DayOfSesshin day in Model)
            {
                <div class="col pb-3 div-day" style="min-width:33%">
                    <div class="card h-100 " >
                        <div class="card-body">
                            <h4 class="card-title">@day.Date.ToLongDateString()</h4>
                            <p class="card-text p-people row"><span class="span-people">@day.NumberOfPeople</span>&nbsp;people <i class="btn btn-sm fas fa-pen edit-people ml-1"></i></p>
                            <form class="f-edit-people form-inline hide" asp-action="UpdateNumberOfPeopleByDayId" asp-controller="Sesshins">
                                <div class="form-group row">
                                    <input type="hidden" name="dayId" value="@day.Id" />
                                    <input class="form-control-sm input-people" name="numberOfPeople" value="@(day.NumberOfPeople)" />
                                    <button type="submit" class="btn-invisible" title="save number of people">
                                        <i class="btn btn-sm fas fa-save save-people"></i>
                                    </button>

                                </div>
                            </form> 
                            <div id="menus@(day.Id)">
                                @foreach (Meal meal in day.Meals)
                                {
                                    <div class="d-flex flex-column">
                                        <a class="collapsed card-link a_meal" id="a_meal@(meal.Id)" data-toggle="collapse" href="#div_meal@(meal.Id)">@meal.Type.ToString()</a>
                                        <div id="div_meal@(meal.Id)" class="collapse" data-parent="#menus@(day.Id)">
                                            <ul class="p-1">
                                                @foreach (MealFood mealFood in meal.MealFoods)
                                                {
                                                    Food food = mealFood.Food;
                                                    <li>
                                                        <div class="d-flex flex-row align-items-center">
                                                            <h4 class="card-text">@food.Name</h4>
                                                            @if ((await AuthorizationService.AuthorizeAsync(
                                                   User, mealFood,
                                                   UserOperations.Update)).Succeeded)
                                                            {
                                                                <a class="btn btn-sm" asp-controller="Meals" asp-action="EditFood" asp-route-mealId="@meal.Id" asp-route-foodId="@food.Id" asp-route-sesshinId="@day.SesshinId"><i class="fas fa-pen"></i></a>
                                                            }

                                                            @if ((await AuthorizationService.AuthorizeAsync(
                                                    User, mealFood,
                                                    UserOperations.Delete)).Succeeded)
                                                            {
                                                                <form asp-action="DeleteMealFood" asp-controller="Meals" method="post">
                                                                    <input type="hidden" value="@food.Id" name="foodId" />
                                                                    <input type="hidden" value="@meal.Id"  name="mealId" />
                                                                    <input type="hidden" value="@day.SesshinId" name="sesshinId" />
                                                                    <button type="submit"
                                                                            class="btn btn-sm">
                                                                        <i class="fas fa-trash-alt"></i>
                                                                    </button>
                                                                </form>
                                                            }
                                                        </div>
                                                    </li>
                                                }

                                            </ul>

                                            @if ((await AuthorizationService.AuthorizeAsync(
                                          User, day,
                                          UserOperations.Create)).Succeeded)
                                            {
                                                <a class="btn btn-primary btn-sm card-text" asp-controller="Meals" asp-action="AddFood" asp-route-mealId="@meal.Id" asp-route-sesshinId="@day.SesshinId">
                                                    <i class="fas fa-plus"></i> Add Food
                                                </a>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
