@model List<DayOfSesshin>

@{
    Layout = null;
}


    <div class="d-flex flex-row">
        @foreach (DayOfSesshin day in Model)
        {
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">@day.Date.ToLongDateString()</h4>
                    <p class="card-text">@day.NumberOfPeople people</p>
                    <div id="menus@(day.DayOfSesshinId)">
                        @foreach (Meal meal in day.Meals)
                        {
                            <div class="d-flex flex-column">
                                <a class="collapsed card-link" data-toggle="collapse" href="#meal@(meal.MealId)">@meal.Type.ToString()</a>
                                <div id="meal@(meal.MealId)" class="collapse" data-parent="#menus@(day.DayOfSesshinId)">
                                    @foreach(MealFood mealFood in meal.MealFoods)
                                    {
                                        Food food = mealFood.Food;
                                        <div class="d-flex flex-row">
                                            <h4 class="card-text">@food.Name</h4> 
                                            <a asp-controller="Meals" asp-action="EditFood" asp-route-mealId="@meal.MealId" asp-route-foodId="@food.FoodId" asp-route-sesshinId="@day.SesshinId"><i class="fas fa-pen padding-left-5"></i></a>
                                            <form asp-action="DeleteMealFood" asp-controller="Meals" method="post">
                                                <input type="hidden" value="@food.FoodId" id="foodId" name="foodId" />
                                                <input type="hidden" value="@meal.MealId" id="mealID" name="mealId" />
                                                <input type="hidden" value="@day.DayOfSesshinId" id="sesshinId" name="sesshinId" />
                                                <button type="submit"
                                                        class="btn-card-link">
                                                    <i class="fas fa-trash-alt" ></i>
                                                </button>
                                            </form>
                                        </div>
                                    }
                                    <a class="nav-link card-text" asp-controller="Meals" asp-action="AddFood" asp-route-mealId="@meal.MealId" asp-route-sesshinId="@day.SesshinId">
                                        <i class="fas fa-plus"></i>Add Food
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>