@model AccountEditViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="d-flex row align-items-center">
        <i class="fas fa-user-alt fa-2x btn btn-primary ml-3 mr-2"></i>
        <h1 class="mt-2">Edit @Model.Account.FullName</h1>

        @if (Model.Account.AccountStatus != Status.Approved)
        {
            @if ((await AuthorizationService.AuthorizeAsync(
       User, Model, UserOperations.Approve)).Succeeded)
            {
                <form style="display:inline;" class="ml-auto mr-3" method="post" asp-action="UpdateStatus">
                    <input type="hidden" name="id" value="@Model.Account.Id" />
                    <input type="hidden" name="status" value="@Status.Approved" />
                    <button type="submit" class="btn btn-xs btn-success">Approve</button>
                </form>
            }
        }

        @if (Model.Account.AccountStatus != Status.Rejected)
        {
            @if ((await AuthorizationService.AuthorizeAsync(
       User, Model, UserOperations.Reject)).Succeeded)
            {
                <form style="display:inline;" class="ml-auto mr-3" method="post" asp-action="UpdateStatus">
                    <input type="hidden" name="id" value="@Model.Account.Id" />
                    <input type="hidden" name="status" value="@Status.Rejected" />
                    <button type="submit" class="btn btn-xs btn-success">Reject</button>
                </form>
            }
        }
    </div>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Account.Id" />
            <div class="form-group">
                <label asp-for="@Model.Account.FullName" class="control-label"></label>
                <input asp-for="@Model.Account.FullName" class="form-control" />
                <span asp-validation-for="@Model.Account.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Account.Email" class="control-label"></label>
                <input asp-for="@Model.Account.Email" class="form-control" />
                <span asp-validation-for="@Model.Account.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (SignInManager.IsSignedIn(User) && User.IsInRole(Constants.UserAdministratorsRole))
                {
                    <label asp-for="@Model.CurrentRole" class="control-label"></label>
                    <select asp-for="@Model.CurrentRole" class="form-control" asp-items="@Model.Roles"></select>
                    <span asp-validation-for="@Model.CurrentRole" class="text-danger"></span>
                }
                else
                {
                    <input type="hidden" asp-for="@Model.CurrentRole" />
                }
                <input type="hidden" name="formerRole" value="@Model.CurrentRole" />
            </div>
            <div class="form-group d-flex row mx-1">
                <input type="submit" value="Save" class="btn btn-primary" />

                @if (SignInManager.IsSignedIn(User) && User.IsInRole(Constants.UserAdministratorsRole))
                {
                    <a asp-action="Index" asp-controller="Accounts" class="btn btn-secondary ml-auto"><text> << </text>Back to List</a>
                }
                else
                {
                    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary ml-auto">Home</a>
                }
            </div>
        </form>
    </div>
</div>
