@model StockList

@{
    Layout = null;
}


<p>
    @if ((await AuthorizationService.AuthorizeAsync(
         User, new Stock(),
         UserOperations.Create)).Succeeded)
    {
        <a asp-controller="Stocks" asp-action="Create" asp-route-productId="@Model.ProductId" class="btn btn-primary">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Stocks.FirstOrDefault().Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stocks.FirstOrDefault().UnityType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stocks.FirstOrDefault().PricePorUnity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stocks.FirstOrDefault().Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stocks.FirstOrDefault().TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stocks.FirstOrDefault().CommandDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Stocks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnityType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PricePorUnity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommandDate)
                </td>
                <td>
                    @if ((await AuthorizationService.AuthorizeAsync(
                      User, item,
                      UserOperations.Update)).Succeeded)
                    {
                        <a asp-controller="Stocks" asp-action="Edit" asp-route-id="@item.StockId" class="btn btn-primary">Edit</a>
                    }
                    @if ((await AuthorizationService.AuthorizeAsync(
                   User, item,
                   UserOperations.Read)).Succeeded)
                    {
                        <a asp-controller="Stocks" asp-action="Details" asp-route-id="@item.StockId" class="btn btn-primary">Details</a>
                    }
                    @if ((await AuthorizationService.AuthorizeAsync(
                     User, item,
                     UserOperations.Delete)).Succeeded)
                    {
                        <a asp-controller="Stocks" asp-action="Delete" asp-route-id="@item.StockId" class="btn btn-primary">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
