@model StockList

@{
    Layout = null;
}

<h4>Commands</h4>
    @if ((await AuthorizationService.AuthorizeAsync(
         User, new Stock(),
         UserOperations.Create)).Succeeded)
    {
        <a asp-controller="Stocks" asp-action="Create" asp-route-productId="@Model.ProductId" class="btn btn-primary float-right my-2">Create New</a>
    }
<table class="table table-striped table-dark">
    <thead>
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.Stocks.FirstOrDefault().Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stocks.FirstOrDefault().PricePorUnity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stocks.FirstOrDefault().TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stocks.FirstOrDefault().CommandDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Stocks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity) @item.UnityType.GetDescription()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PricePorUnity) @item.Currency.GetDescription()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice) @item.Currency.GetDescription()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommandDate)
                </td>
                <td>
                    @if ((await AuthorizationService.AuthorizeAsync(
                      User, item,
                      UserOperations.Update)).Succeeded)
                    {
                        <a asp-controller="Stocks" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Edit</a>
                    }
                    @if ((await AuthorizationService.AuthorizeAsync(
                     User, item,
                     UserOperations.Delete)).Succeeded)
                    {
                        <a asp-controller="Stocks" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
